* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, black, rgb(55, 55, 55), black);
}

nav {
  padding: 1em 1em;
  display: flex;
  justify-content: space-evenly;
  font-family: "Monaco", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}

nav div {
  padding: 0 0.5em;
  background-color: white;
  min-width: 7em;
  text-align: center;
}

h1 {
  padding: 0.75em 0 0 0;
  font-family: "Satisfy", serif;
  color: white;
  text-align: center;
  font-size: 4em;
}

main {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em 3em;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  min-width: 18vw;
  border-color: black;
  border: solid 0.5em;
  border-radius: 0 0 5% 5%;
  font-family: "Monaco", sans-serif;
}

.building h2 {
  padding: 1em 0;
  font-size: 2em;
  max-width: 17vw;
  min-height: 20vh;
  text-align: center;
  overflow-wrap: break-word;
  /* border-style: solid; */
}
.building h3 {
  font-size: 1.25em;
}

.building h4 {
  font-size: 1.25em;
  padding: 0 0 1em 0;
}

img {
  width: 18vw;
  height: 25vw;
}